:root {
  --color-green: #00ff00;
  --color-black: #000000;
}

.btn {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-black);
  color: var(--color-green);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.9;
}